@{
    ViewBag.Title = "Quotes";
}

<div id="quotes" class="container">
    <h2>Quotes</h2>
   
    <input placeholder="Search..." type="text" class="form-control" data-bind="value: search, valueUpdate: 'afterkeydown'">
   
    <table class="table">
        <thead>
        <tr>
            <th>Symbol</th>
            <th>Change</th>
            <th>Bid</th>
            <th>Ask</th>
        </tr>
        </thead>
        <tbody data-bind="foreach: filteredQuotes">
        <tr>
            <td data-bind="text: Symbol"></td>
            <td data-bind="text: ChangePoints() + ' (' +  ChangePercent() + '%)', style: { color: ChangePoints() > 0 ? 'green' : 'red' }"></td>
            <td data-bind="text: Bid, style: { color: BidColor()}"></td>
            <td data-bind="text: Ask, style: { color: AskColor()}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript" src="../../Scripts/Quote/quote.js"> </script>