<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <!-- See http://www.mongodb.org/display/DOCS/CSharp+Driver+Tutorial#CSharpDriverTutorial-Connectionstrings for more info -->
      <add name="MongoServerSettings" connectionString="mongodb://tt_user:tt_pass_4371@virtualbox.asuscomm.com:32500/TT" />
    </connectionStrings>
</configuration>