<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>

    <add key="TickProxyStreamingRealTimeEndpoint" value="tcp://localhost:5555" />
    <add key="TickProxyRPCRealTimeEndpoint" value="tcp://localhost:5556" />
    <add key="TickProxyHistRealTimeEndpoint" value="tcp://localhost:5558" />
    <add key="TickProxyAdminRealTimeEndpoint" value="tcp://localhost:5550" />

    <add key="TickProxyStreamingDelayedEndpoint" value="tcp://localhost:5555" />
    <add key="TickProxyRPCDelayedEndpoint" value="tcp://localhost:5556" />
    <add key="TickProxyHistDelayedEndpoint" value="tcp://localhost:5558" />
    <add key="TickProxyAdminDelayedEndpoint" value="tcp://localhost:5550" />

    <add key="TickProxyReqMaxRetries" value="3" />
    <add key="TickProxyReqTimeoutSec" value="60" />
    <add key="hostingUrl" value="ws://0.0.0.0:8082" />
    <add key="DistributionIntervalInMS" value="0" />
    <add key="AuthCacheRefreshIntervalInMS" value="60000" />
  </appSettings>
<connectionStrings>
    <!-- See http://www.mongodb.org/display/DOCS/CSharp+Driver+Tutorial#CSharpDriverTutorial-Connectionstrings for more info -->
    <add name="MongoServerSettings" connectionString="mongodb://localhost/MyDatabase" />
  </connectionStrings></configuration>